@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.logo {
  width: 100px;
  height: 100px;
}
body {
  background-color: #ffffed;
}
nav {
  background: #fffdd0;
  position: fixed;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  display: flex;
}
a {
  color: #7d5123;
  font-size: 30px;
  font-weight: 600;
}
li {
  list-style: none;
  line-height: 70px;
}
li a,
li label {
  color: #7d5123;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
li label {
  display: none;
}
li a:hover,
li label:hover {
  color: darkblue;
}
.wrapper .menu-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
  }
  nav .content .links {
    margin-left: 30px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
    width: 200px;
    color: #7d5123;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: whitesmoke;
    height: 100%;
    width: 100%;
    top: 110px;
    left: -100%;
    margin-left: 0;
    margin-top: 10px;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  li {
    margin: 15px 20px;
  }
  li a,
  li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    cursor: pointer;
  }
  li a.desktop-link {
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
@media screen and (max-width: 400px) {
  .wrapper .menu-icon {
    display: block;
    width: 50px;
  }
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 27px;
  }
}

/* code ko */
h1 {
  padding-left: 10px;
}
h4 {
  padding-left: 10px;
}

.hkmain-logopic {
  width: 80px;
  height: 80px;
  padding: 10px 0 0 0;
}
.hkmain-pic {
  width: 100%;
  height: 100%;
}
.hkmain-bg {
  display: flex;
  justify-content: center;
}
.prodicon {
  display: flex;
  justify-content: flex-end;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.prodimg {
  width: 100%;
  padding-top: 120px;
}
.prodcon {
  display: flex;
  justify-content: center;
}
.imgp {
  width: 400px;
  height: 120px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}
.searchbar {
  display: flex;
  justify-content: center;
}
.search-box input {
  width: 450px;
  height: 50px;
  outline: none;
  border-radius: 15px;
}
.myInput {
  padding-left: 20px;
}
.search-icon {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.logocon {
  display: flex;
  justify-content: center;
  width: 150px;
}
.ylogo {
  width: 70px;
  height: 70px;
}
.s-icon {
  width: 25px;
  height: 25px;
}
.soc-iconcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.soc-icon {
  width: 35px;
  height: 35px;
}
.soc-icon1 {
  width: 35px;
  height: 35px;
}
.soc-icon2 {
  width: 35px;
  height: 35px;
}
/* product cards */
.milkteacon {
  padding-left: 50px;
}
.mkteaprod {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}
.mkteapics {
  width: 375px;
  height: 410px;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media screen and (max-width: 200px) {
  .prodcon {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .milkteacon {
    padding-left: 20px;
  }
  .mkteapics {
    width: 300px;
    height: 320px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  color: #7d5123;
}
